[build-system]
requires = ["flit-core >= 3.4"]
build-backend = "flit_core.buildapi"

[project]
name = "cataloguer"
version = "0.1.0"
description = "Script which collects WoW add-on metadata from GitHub"
requires-python = ">= 3.11"
license.file = "LICENSE"
dependencies = [
  "aiohttp",
  "aiohttp-client-cache[sqlite] >= 0.8.0",
  "cattrs",
  "click",
  "structlog",
  "yarl",
]

[project.optional-dependencies]
dev = [
  "ruff",
  "ufmt",
]

[tool.black]
line-length = 99

[tool.pyright]
strict = ["cataloguer.py"]

[tool.ruff]
select = [
  "A",
  "B0",
  "C",
  "DTZ",
  "E",
  "EM",
  "F",
  "M",
  "U",
  "W",
  "Y",
]
target-version = "py311"
